@import "_fonts.scss" ;

body {     
    font-family: 'Latin Modern Roman', serif;
    font-size: 14pt;
    line-height: 1.48em;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

p{
    margin-bottom: 1.5em;
}

quote{
    margin-bottom: 1.5em;
    font-style: italic;
    position: relative;
}

quote:before {
    content: '“';
    display: block;
    font-size: 4em;
    position: absolute;
    left: -40px;
    top: 0px;
    color: #CCC;
}

quote:after{
    content: '”';
    display: block;
    font-size: 4em;
    position: absolute;
    color: #CCC;
}